[2014-08-14 20:35] Vijar opened #4 "Make fetchr return a `createFetcherClass` function"
This is to support isomorphic applications where the fetcher can be instantiated per request on the server side. The request object would also be passed into the Fetcher class during instantiation so that registered fetchers could have access to the request/context information (like i18n).

Another benefit is that this would get rid of the need to `res.expose` the pathPrefix to the `FetcherClient`

[2014-08-20 17:52] redonkulus opened #6 "Support client side batching of requestes"

[2014-08-20 17:54] Vijar opened #7 "Implement batching for requests"

[2014-08-20 17:56] #6 closed, assigned to nobody

[2014-08-20 21:38] #4 closed, assigned to Vijar

[2014-08-26 00:22] mridgway opened #10 "Normalize fetcher calls to full argument list"
If dev calls `fetcher.read(resource, params, callback)` it should expand this call to have all params defined when it calls the individual fetcher. This way devs won't have to check whether config is the callback or not.

[2014-08-27 13:45] fatganz opened #11 "Why req is not available in read calls?"
Is there a reason why req param is omitted in request for read operations in middleware?
Or is there another way i can have req available for read using middleware?

[2014-08-27 13:47] fatganz opened #12 "In express 4: deprecated res.send(status, body)"
Getting this error "express deprecated res.send(status, body): Use res.status(status).send(body) instead at node_modules/fetchr/libs/fetcher.js:97"

[2014-08-27 22:57] #11 closed, assigned to nobody

[2014-08-27 22:57] #12 closed, assigned to nobody

[2014-08-27 22:57] #10 closed, assigned to nobody

[2014-09-25 15:44] mtscout6 opened #16 "What's the thought behind semicolon separated query string?"
Is there a motivating reason behind rolling your own protocol for query string parameters instead of following the standard `?<param>=<value>` paradigm?

[2014-09-25 19:25] #16 closed, assigned to nobody

[2014-10-01 16:37] mtscout6 opened #17 "Server HTTP response status codes"
Currently the only status codes getting sent down are:
- 200 - OK
- 400 - Bad Request

https://github.com/yahoo/fetchr/blob/master/libs/fetcher.js#L83-L87

What are your thought's on other status codes such as:
- 201 - Created
- 202 - Accepted (Useful for requests that trigger and async process on the back end)
- 204 - No Content
- 3xx - Redirection
- 401 - Unauthorized
- 403 - Forbidden
- 404 - N

[2014-10-01 22:31] tobice opened #18 "Getting "headers already sent" when fetch action returns error."
I think the problem is at this line: https://github.com/yahoo/fetchr/blob/master/libs/fetcher.js#L108

In case of error, status 400 is set and response body is sent, but the function just goes on and four lines later it tries to send the response body again.

By the way, could you change it that the whole err object could be sent back instead of the general "request failed" message?

[2014-10-01 22:47] #18 closed, assigned to nobody

[2014-10-02 17:00] mtscout6 opened #20 "Change tests to be executed through the fetcher and not directly."
These tests make no assertions and are only called against a fakeFetcher. It's not even exercising any code in the release library. What is there purpose?

https://github.com/yahoo/fetchr/blob/a4612ce0a99031234b8fa2ecb106eabc77cbd7bc/tests/unit/libs/fetcher.js#L108-L138

[2014-10-02 18:50] #20 closed, assigned to nobody

[2014-10-02 20:56] mtscout6 opened #23 "Add support for custom headers"
See: #17 [comment](https://github.com/yahoo/fetchr/issues/17#issuecomment-57537767)

[2014-10-03 18:21] #17 closed, assigned to nobody

[2014-10-03 19:37] ZeikJT opened #24 "Delete op name mismatch client/server"
The serverside fetcher expects the op name for delete to be `del`
[libs/fetcher.js#L269](https://github.com/yahoo/fetchr/blob/530b01a99baf0ab9ea6b38d7e64dd5ada62ba1a8/libs/fetcher.js#L269)

The clientside fetcher send an op name of `delete`
[libs/fetcher.client.js#L230](https://github.com/yahoo/fetchr/blob/530b01a99baf0ab9ea6b38d7e64dd5ada62ba1a8/libs/fetcher.client.js#L230)

The names need to mat

[2014-10-06 17:19] #24 closed, assigned to nobody

[2014-10-06 23:14] Vijar opened #26 "Remove backwards compatibility to `del` method"
Having both `del` and `delete` as fetcher methods but not as data-fetcher methods is confusing some people.

The recommendation is to use `delete` everywhere.

We will create a breaking change soon to remove the support for the `del` method.

@koulmomo

[2014-10-13 17:45] #26 closed, assigned to nobody

[2014-10-26 15:24] tobice opened #29 "Middleware requires express body-parser"
When doing POST requests, `Fetchr.middleware` expects `body-parser` to take care of parsing JSON (otherwise it will result in `req.body undefined error`). I think this should be mentioned in the docs on the main page or at least in the example app.

[2014-10-28 21:06] #29 closed, assigned to nobody

[2014-10-30 22:54] redonkulus opened #32 "Document difference between params and config in CRUD API"

[2014-11-04 10:44] ptomasroos opened #33 "Create / Read / Update / Delete"
Why are the fetching using CRUD naming instead of just using the verbs of HTTP?

Post / Get / Put / Delete,

The problem I see it that many are already existing and this one is forcing ppl to align their api's just to be able to use the technology.

I would rather have fetcher.post('discover', 'markItemAsClicked'

Today all the fetcher are boxed in to only have read: create: update: delete: on the

[2014-11-18 18:06] jedireza opened #36 "Remove extra spacing"
I'd like to remove the extra indentation here:
https://github.com/yahoo/fetchr/blob/master/libs/fetcher.js#L20-L277

Thoughts?

[2014-11-18 18:22] #36 closed, assigned to nobody

[2014-12-05 22:36] mdressman opened #39 "Error running example"
Freshly cloned repo, cd examples/simple, npm install, npm run start
and I get the following errors:

[code]

[2014-12-05 22:58] #39 closed, assigned to nobody

[2014-12-08 21:18] mdressman opened #40 "debugging fetchr"
any tips on debugging fetchr service calls?  I'm using the fluxible-plugin btw.

From client-side, I can debug up until the point it makes the internal service call.  I am using node-debug on the server, I tried setting breakpoints on the backend fetchr service methods, but they aren't catching when invoked from the client-side.

Any input would be appreciated.  Thanks!

[2014-12-08 21:59] #40 closed, assigned to nobody

[2014-12-11 18:22] Vijar opened #41 "Depend on `lodash` instead of the lodash micro libs"
I know we agreed to do this, but I just found that we are saving around 13k by using micro libs.

<img src="https://cloud.githubusercontent.com/assets/759766/5399327/d1d45722-811e-11e4-926a-8f6d80aee953.png" width="200">
`client.js` is the uglified `fetcher.client.js` with lodash micro libraries
`client2.js` is the uglified `fetcher.client.js` with the whole lodash library

Thoughts @mridgway @red

[2014-12-13 00:39] #41 closed, assigned to Vijar

[2014-12-19 16:58] mkaminsky opened #46 "update to xhr 2.0.0 breaks on errors"
After the update to `xhr 2.0.0`, it seems that the error handling path of `fetchr`, when accessed from the client side, is breaking.  In the new version, `xhr` no longer returns an error in the callback for HTTP errors--their documentation now reads, "Your callback will be called with an `Error` if there is an error in the browser that prevents sending the request. A HTTP 500 response is not going

[2014-12-22 22:31] mridgway opened #49 "Create tests for client http script"

[2014-12-23 03:37] #46 closed, assigned to jedireza

[2015-01-23 22:49] Vijar opened #50 "Rename datafetchers to services"

[2015-01-23 22:50] Vijar opened #51 "Rename services' 'name' property to 'resource'"
It makes more sense that way

[2015-02-13 02:46] BerkeleyTrue opened #55 "coerce 'undefined' string to undefined"
When a param is undefined, server side the api returns the actual undefined primitive, but on request from client the undefined param is now a string. This means for every string param we need to check whether the value is true-y and as well not equal to the string 'undefined'.

[2015-02-13 06:08] mridgway commented on #55
Sounds like an inconvenient bug. We'll take a look at it.

[2015-03-12 01:07] gpbl opened #58 "Client-side timeouts"
Client-side requests often get answers after the [3 seconds timeout](https://github.com/yahoo/fetchr/blob/master/libs/util/http.client.js#L19-L21): i.e. mobile users with bad connections or requests to external services.

It would be useful being able to set the timeout globally, instead of passing it as config to each service. For example, I'd put it to 30s, after which it seems reasonable to sho

[2015-03-12 01:25] koulmomo commented on #50
@Vijar I think this is [done](https://github.com/yahoo/fetchr/pull/52/files)

[2015-03-12 01:27] koulmomo commented on #58
I like the idea of being able to change the default configs all at once, but I think the default should still be 3 seconds.

I might be wrong, but I *feel* that in most cases (especially in development) it would be helpful to identify which of your services are slow so that you can either fine tune them, or adjust timeouts for those specific services.

[2015-03-12 01:27] mridgway commented on #50
It's not. The API still uses `registerFetcher`.

[2015-03-12 08:21] gpbl commented on #58
@koulmomo does the timeout affect users with slow connections? I have reports of users connecting from mobile. I've also seen it on my computer when it was heavy downloading stuff. In this case the problem is not the service, but the client – hence my need to set the timeout for *all* the service calls.

[2015-03-12 15:59] koulmomo commented on #58
@gpbl I'm saying that you **SHOULD** be able to change the defaults for services **ALL AT ONCE**, but if the developer does not choose to do so, it should still default to 3s.

[code]

[2015-03-12 16:01] koulmomo opened #59 "cherry-pick lodash methods for smaller builds"
@redonkulus
see [here](https://github.com/yahoo/fetchr/blob/46c162a1db72a8e4bda55ec88ab127a402e03b45/libs/fetcher.client.js#L18)

[2015-03-12 18:28] redonkulus commented on #59
PR's wanted :)

[2015-03-12 19:49] #59 closed

[2015-03-13 10:22] epeli opened #61 "Internal middleware?"
Are there any plans for internal fetchr middleware?

Use cases:

- Unified error logging for all resources and methods
- Access control: Allow update&create methods only for admin user, but allow read method for everybody

Now these have to be manually implemented for each resource or the services must be created using a custom service creator which wraps the methods functions.

[2015-03-24 02:43] mridgway opened #63 "Supertests/functional tests that could be used to test other framework integration"

[2015-03-27 11:38] lenage opened #64 "Possible to remove "resource" keyword or make it configurable?"
I have an API endpoint which look like "/api/v1/session", and i want to use fetchr to get data from server.

here is my setup:

[code]

but when i checked out the request, it added a `resource` in URL, and it defined in: [fetcher.client.js#L294](https://github.com/yahoo/fetchr/blob/master/libs/fetcher.client.js#L294),

so, i think it would be good to make that keyword configurable?

[2015-03-27 13:14] Vijar commented on #64
Hmm,  yeah there seem to be other issues with the "resource" prefix. I think making it configurable is fine.

Although,  I think we might even be able to remove it completely. That would be a breaking change. Let me think of the use cases where "resource" might be needed and get back to this

[2015-03-30 23:09] talyssonoc opened #66 "Problem parsing array passed in a "read" call"
I'm trying to make a call like this:

[code]
But in the server side my ids array get stringified, the server doesn't get it parsed back.

The url fetchr generates for me is `http://localhost:3000/api/resource/item;ids=%5B1%2C3%5D`.

[2015-03-31 18:30] cmgriffing opened #67 "Isomorphic form submission"
Hi, I am making this an issue instead of pull request until an idiomatic way of doing this is agreed upon.

The idea is that if a user has JS disabled, React renders a url-encoded form instead of an ajax powered one. Without the modification to fetchr linked below, the form does not redirect to the referrer when url-encoded form submission occurs so the json response is all the user would see. Ins

[2015-04-02 22:50] #66 closed

[2015-04-08 19:58] Vijar commented on #64
Resolved by #69

[2015-04-08 19:58] #64 closed

[2015-05-04 01:06] growlsworth opened #72 "Xhr file uploads"
Hey yahoo,

Thanks for this great library. I've looked around the source a while and cannot figure out how I would begin to support ajax file uploads. Does fluxible support xhr file uploads?

Thanks!

[2015-05-14 16:58] geekyme commented on #58
@koulmomo I think that @gpbl is right about the 3s default. It does not appear to make sense. And before I stumbled onto this thread, I didn't know about the 3s and spent a few hours debugging this. I build web apps for mobile access and these networks are often unpredictable to the point that 3s timeouts would not be sufficient.

[2015-05-24 03:25] geekyme opened #81 "Exception Fetchr "" could not be found"
**Reproduction step***
If you specify your api prefix in a fluxible app with fetchr as:

[code]

and then you access your api via http:///yourwebsite.com/api, you will get the following exception
<pre>

  File "/home/blahblah/blah/node_modules/fluxible-plugin-fetchr/node_modules/fetchr/libs/fetcher.js", line 78, in Function.Fetcher.getFetcher
    throw new Error('Fetcher "' + name + '" could not b

[2015-05-25 01:58] Vijar commented on #81
@geekyme I agree we need better error handling here.

Usually though, we don't recommend accessing the fetchr api manually. The fetchr api path is meant to only be accessed by the `fetchr.client.js` which constructs the proper accessible urls for the data needed.

We'll need to add a proper error and perhaps even a warning while in dev mode. You're welcome to a PR if you wish.

[2015-05-26 03:00] geekyme commented on #81
It would also break if you access yourwebsite.com/iso/* routes. Yes the path is meant to only be accessed by fetchr's internals however there are users who might hit /iso and trigger our app's  500 error alarms.

Is there a way to catch all these fetchr exceptions before they bubble all the way up to node and throw an error?

[2015-05-26 13:07] umidbekkarimov opened #82 "Working with mobile apps (as restful service)"
Greetings, thanks for awesome lib (remembered gwt simplicity)

I have question about using fetcher services for mobile apps without manually fulfilling `req.body.request.g0` fields,

currently only `GET` method return proper response,

so can you provide any example of usage fetchr as a restful api

[2015-05-26 20:41] Vijar commented on #82
@umidbekkarimov Fetchr isn't really meant to be a restful backend for your data (in fact fetchr isn't strictly REST-ful). It is only meant to help you write the same javascript on the server and client to access your data.

As for the `req.body.request.g0` that format is what `fetcher.client.js` follows on the client so that is what the `fetcher.js` on the server expects. This format is internal t

[2015-05-26 20:41] #82 closed

[2015-05-26 20:47] Vijar commented on #72
@growlsworth

Fetcher is supposed to be used for when you need to work with your data on both server/client and want to use the same syntax on the server/client.

However, an xhr file upload is always going to be initiated client side so it doesn't necessarily make sense as a feature that fetchr would support.

[2015-05-26 20:47] #72 closed

[2015-05-26 21:15] growlsworth commented on #72
Hey thanks for the response @Vijar.

Fetchr also handles `create` and `update` methods which would be also be created from a client.

The reason fetchr does not support file uploads is that fetchr forces empty headers on create (https://github.com/yahoo/fetchr/blob/master/libs/fetcher.client.js#L421, sent to: (https://github.com/yahoo/fetchr/blob/master/libs/util/http.client.js#L246). It also does

[2015-05-26 21:22] umidbekkarimov commented on #82
@Vijar thanks for quick response,

I wanted to write same code for client/web-server/api-service, well i will try to find some other options, thanks.

[2015-05-26 22:53] koulmomo commented on #82
@umidbekkarimov take a look at [fluxible-plugin-service-proxy](https://github.com/benbria/node-fluxible-plugin-service-proxy)

[2015-05-26 23:56] umidbekkarimov commented on #82
@Vijar oh, interesting lib, thanks,

But i tied up my app with fetchr services so i decided to use them with express router,
here the example if someone is interested https://gist.github.com/umidbekkarimov/61f2a1ecc3195a5cd3c6

[2015-05-28 23:39] lingyan opened #83 "Add X-Requested-With: XMLHttpRequest header"
It is a common header used for identify Ajax requests: http://en.wikipedia.org/wiki/List_of_HTTP_header_fields#Common_non-standard_request_fields

[2015-06-02 01:04] Vijar opened #87 "Remove `config` param from service"
Right now `config` does not work the same on client and server. On the client it controls things like xhr timeouts and is never serialized and sent to the fetchr middleware, on the server it is just data that is passed into the service.

This is inconsistent. We can assume not many people use it because it took so long to find. Since config has been optional for a while now, we should just remove

[2015-06-02 15:29] redonkulus commented on #87
what are the changes to the interface? how does this affect users? are we just combining params and configs? if xhr is still used on the client, how does that get used in the new API?

[2015-06-02 18:00] Vijar commented on #83
Fixed by #84

[2015-06-02 18:00] #83 closed

[2015-06-08 10:52] dlindenkreuz opened #89 "Provide koa middleware"
Current middleware is not compatible with koa because the `ctx.req` and `ctx.res` objects are handled differently in Express / Connect.

[2015-06-08 13:10] davidhouweling opened #90 "Fetcher client not handling error properly"
Recently a change was made so that the errors are now being sent as a JSON object instead of a pure string https://github.com/yahoo/fetchr/commit/deef81c24055094ac225848f03898dd04b4abd1c. However, this change has not been reflected properly in the fetcher client and is still expecting it as a string.

The actual result of this [for the callback method] is that the error parameter is now an error o

[2015-06-08 14:29] dlindenkreuz commented on #89
Maybe provide a more generic solution that processes the native Node `req` and `res` objects, then returns a generic response object containing status code, body and type (Promises?).

Middleware for app frameworks would then use the more generic version and map the response object's properties to their own response object.

[2015-06-08 21:03] escalona commented on #87
I've run into problems with this when calling a service from the client where I'm expecting config to be defined.

Instead of removing the config object, could it simply be renamed in fetcher.client to xhrConfig with updated docs to reflect the difference?

[2015-06-08 22:05] Vijar commented on #87
@escalona I'm leaning towards this approach too.

[2015-06-08 22:17] Vijar commented on #90
@davidhouweling The original intent was just to return a JSON parseable error object for some of our caching logic. Are you noticing that the client has the stringified json as the error message? It would be a good idea to add a test for this.

Now that the middleware always returns JSON, it seems like a good idea to parse the JSON in `http.client` somewhere in this [if block](https://github.com/y

[2015-06-09 03:29] escalona commented on #87
@Vijar I've created a PR with an updated config name as well as additional docs. Decided to use the name "clientConfig" as it appears that object is responsible for more than just XHR config options.

I'd like to document the other options as well but need more insight into a few of them. Will create a separate issue to track.

[2015-06-09 04:33] escalona opened #94 "Fetcher.middleware config undefined"
The config object is never serialized to fetchr middleware when a request is made through the client. This causes inconsistent behavior within a service that is called from both the client and the server.

On all requests other than "GET" requests, config always returns undefined in the service. Proposed fix is to have a fallback config object returned at:
https://github.com/yahoo/fetchr/blob/e00c

[2015-06-09 22:00] escalona commented on #94
Fixed by #95

[2015-06-09 22:01] #94 closed

[2015-06-09 22:01] #32 closed

[2015-06-11 08:35] Jpunt opened #96 "Don't return req"
A response with Fetchr from the client looks something like this:

[code]

Is there a good reason to pass the `req` and `header` objects back to the client? The client has no business knowing about my api-url and this makes securing my API a lot harder. In fact, it only needs to know the `status` and `text`. Is there a way to disable this?

[2015-06-11 12:49] Jpunt commented on #96
Nevermind, this turned out to be our own fault. We were returning the full response in our service:

[code]

Which I now changed to:

[code]

[2015-06-11 12:49] #96 closed

[2015-06-12 00:25] lukemadera opened #97 "return data is lost on error"
Following the standard node convention, a callback with a non-null first argument signifies an error and often there is valuable error information passed back. However, in the current implementation, on error, the data is lost (overwritten with `message: err.message || 'request failed'`).

https://github.com/yahoo/fetchr/blob/master/libs/fetcher.js#L109

This is a significant issue since we are cu

[2015-06-12 00:27] lukemadera commented on #90
@Vijar Agreed on keeping the API consistent as JSON, though any reason the error data is stripped out? I opened a separate issue here: #97

[2015-06-12 21:42] davidhouweling commented on #97
After writing up my fix for #90 I understand now why they did what they did initially. I think a more appropriate solution would be to start with a generic error object with a message attribute, and then extend it with the data your wish to have transmitted across the wire. This way the original added value isn't lost.

[2015-06-12 22:15] lukemadera commented on #97
You mean like this @davidhouweling ?

[code]

[2015-06-12 22:52] davidhouweling commented on #97
Yes something along those lines, though I wouldn't pull in the whole underscore library to do it, even though it is just execution on server side (from memory).

I'd probably go with Object.assign if you can get away with it, or an npm module that implements it. This way when the codebase does move entirely to ES6, the code itself is already there and not requiring refactoring.

[2015-06-12 23:02] lukemadera commented on #97
Yeah that was just a proof of concept but I agree @davidhouweling  - how's this:

if (err) {
  if(!err.message) {
    err.message ='request failed';
  }
  res.status(err.statusCode || 400).json(err);
  return;
}

[2015-06-16 16:26] neilius commented on #83
What are your thoughts on disabling (or allowing a configuration value that disables) the X-Requested-With header for CORS-based implementations? When performing CORS requests, the X-Requested-With forces a pre-flight OPTIONS request that would be nice to eliminate. jQuery, for example, [is structured this way](https://github.com/jquery/jquery/blob/master/src/ajax/xhr.js#L60)

[2015-06-16 17:28] #90 closed

[2015-06-16 17:42] Vijar commented on #87
Fixed by #92

[2015-06-16 17:42] #87 closed

[2015-06-16 23:02] lingyan commented on #83
@neilius That sounds good.  We can turn off X-Requested-With header for cross domain requests.  Do you want to file a PR?  :)

[2015-06-16 23:20] #81 closed

[2015-06-16 23:42] Vijar commented on #97
@lukemadera

I think we could support this.

I was just experimenting with the code sample you have and it looks like passing in an error object into `res.json` has weird behavior. I've noticed that it ignores the `message` property.

[2015-06-17 00:33] neilius commented on #83
Yeah, certainly

[2015-06-17 00:34] lukemadera commented on #97
Great @Vijar ! What seems to be the problem with message? It just gets omitted?

[2015-06-17 05:41] lingyan commented on #83
Thanks!

[2015-06-17 13:29] lohek opened #101 "Bad resource"
Hi,

On new version, you have add this
[code]
But... what's happening when i want use "todo.toggleAll" on resource name (https://github.com/yahoo/flux-examples/blob/master/todo/actions/toggleAll.js#L11, https://github.com/yahoo/flux-examples/blob/master/todo/services/todo.js#L43), it's just check resource var, when it should be
[code]

After maybe i completely wrong (suddenly i do not really know

[2015-06-17 14:54] Vijar commented on #101
@lohek you're right, this was a mistake. I'm working on a fix right now.

[2015-06-17 15:11] lohek commented on #101
Nice, thanks !

[2015-06-17 15:35] Vijar commented on #97
Yeah it just doesn't get serialized.

[2015-06-17 19:24] #101 closed

[2015-06-19 17:59] BerkeleyTrue commented on #33
Seems like batching has been implemented. Should this issue be closed now?

[2015-06-19 18:29] Vijar commented on #33
@BerkeleyTrue Actually, the batching code is very old and I'm pretty sure it doesn't really work.

We discussed implementing batching recently. Given that `fetchr` is primarily used with React and the impending release of [Relay](https://facebook.github.io/react/blog/2015/02/20/introducing-relay-and-graphql.html)(potentially in 2 weeks at [React Europe](https://www.react-europe.org/#relay-anchor))

[2015-06-24 16:41] jeffkole commented on #97
Yes, the fields of an `Error` are not enumerable, so they are not serialized as JSON:

`Object.keys(new Error('request failed'))` results in `[]`

What about if we did this:

[code]

[2015-06-24 20:51] Vijar commented on #97
@jeffkole I think we can support this. Want to do a PR?

[2015-06-25 23:04] jeffkole commented on #97
I started working on this last night and after looking more closely at the client code realized it would be more difficult than necessary, because of the support for batching up requests.  If there is an error during a batch, the same error object is sent to each pending request (as seen in [fetchr.client.js](https://github.com/yahoo/fetchr/blob/898247ff935d84e59e8cd1121e2f083a2a61795c/libs/fetche

[2015-06-25 23:17] Vijar commented on #97
So, `fetchr`'s batching doesn't really work right now...you can safely ignore that part of `fetchr.client.js`.

[2015-06-26 20:40] jeffkole commented on #97
I'd feel safer ignoring it if it were gone entirely.  If there is intention to support batches, then I'd rather see progress there then on sending back data in error objects.  For what it is worth, batching would be incredibly useful so that we can have fetchers for individual entities and still feel good about only making a single request to the server to load a page.

[2015-07-02 02:06] tleunen opened #106 "params vs body for create/update?"
Not sure to understand the differences between the 2 for a create or update request.
Could you explain or give an example?

Thanks.

[2015-07-02 02:15] Vijar commented on #106
`params` will be sent to the service as part of the request url, whereas `body` will be serialized and sent as the request's body.

[2015-07-02 14:44] tleunen commented on #106
Hmm.. But why would I use both `params` and `body` for the same request when I can easily put everything in `body`?

[2015-07-02 15:17] escalona commented on #106
@tleunen An example would be if you were making a POST request to a url with query parameters. The request payload would be passed in as `body` while the query parameters would be passed in from `params`.

[2015-07-02 15:27] tleunen commented on #106
I understand the differences when you are making request for another service that you don't control (like Flickr), but when you're making a request to your own service (you both control client and server services), it doesn't really make sense to use both `params` and `body` then

[2015-07-02 16:14] escalona commented on #106
The same principles still applies. Say I have a messaging app and I want to update a specific message with a given id. My fetchr service would look something like:

[code]

Where my I use `body` in my POST and params holds other information such as url parameters.
While you could pass all data to the service using only `body` or `params` (they are both just objects), by having the distinction it m

[2015-07-02 16:39] tleunen commented on #106
Make sense to have this little distinction as you said. Thanks ;-)

[2015-07-02 16:39] #106 closed

[2015-07-07 00:44] redonkulus commented on #58
Fixed by https://github.com/yahoo/fetchr/pull/107

[2015-07-07 00:44] #58 closed

[2015-07-07 00:47] Vijar commented on #23
Fixed by #70

[2015-07-07 00:47] #23 closed

[2015-07-07 00:49] Vijar commented on #49
Tests have been added since #84

[2015-07-07 00:49] #49 closed

[2015-07-07 00:53] Vijar commented on #63
@mridgway Closing because we already have `supertest` tests. Reopen if you meant something else.

[2015-07-07 00:53] #63 closed

[2015-07-07 01:00] Vijar commented on #61
@epeli I think this is a great idea. I'm going to look into how we can do this in an extensible way and report back here.

[2015-07-07 01:00] Vijar commented on #67
@cmgriffing I think the best way to handle this would be to support internal fetchr middleware. Something along the lines of #61. That way you can get increased app specific customization (e.g. limiting form redirect logic to only a few resources, adding authentication to other resources) while still keeping fetchr generic.

I'm going to close this issue. You can tack #61 for progress on custom mi

[2015-07-07 01:00] #67 closed

[2015-07-07 01:02] Vijar commented on #89
@dlindenkreuz I'm looking into how we can refactor the middleware to make it more extensible.

[2015-07-09 06:53] gpbl opened #108 "Better instance methods API?"
I get often confused by the number (and the order) of the arguments I have pass to the [instance methods](https://github.com/yahoo/fetchr/blob/master/docs/fetchr.md#instance-methods), sometimes hard to debug... so I'm here to propose a different API:

[code]

For example this code
[code]

would become

[code]

or a create call:

[code]

what do you think?

[2015-07-09 16:38] lingyan commented on #108
:+1:  That's what I had been thinking about too.  Similar to superagent API.

[2015-07-09 17:39] escalona commented on #108
I've ran into the same issues without our codebase. A lot of time body and params will get mixed up. The solution you proposed looks good. Another approach would be to accept a resource name and an options parameter. For example:

[code]

[2015-07-09 22:48] nathanwelch opened #109 "Response headers on client"
It's occasionally useful to have access to the response headers when handling a request (e.g. for pagination when using APIs that put totals and next/prev data in the headers rather than the response body). It doesn't seem like this is currently possible on the client because of https://github.com/yahoo/fetchr/blob/master/libs/fetcher.client.js#L369.

Any thoughts on passing `response.headers` (or

[2015-07-10 14:18] redonkulus commented on #109
:+1: to the third argument. We already do that for the server side, makes sense to do it on the client too. Want to PR it?

[2015-07-10 15:53] escalona commented on #51
@Vijar Is this still something that needs to be updated? I can create a PR if so.

[2015-07-10 16:26] redonkulus commented on #51
@escalona  its a nice to have, we could probably make it backwards compatible so we do not break existing services. You can PR it if you like.

[2015-07-10 16:28] redonkulus commented on #108
I like @gpbl suggestions as it makes it cleaner to add configuration to the request and easier  to read.

Would be interesting if we could make this backwards compatible.

[2015-07-10 16:50] gpbl commented on #108
🍻 it should be easy to maintain the old signature, I think something like:

[code]

[2015-07-10 17:13] koulmomo commented on #108
@redonkulus @gpbl make sure to warn about deprecation and then completely deprecate in the next major release.

I hate `arguments.length` checks

[2015-07-10 17:34] escalona commented on #108
@gpbl Since config if optional you would also have to check if `typeof config === 'function'` and handle it accordingly.

[2015-07-10 17:51] Vijar commented on #108
@koulmomo is there a perf reason for not wanting to check arguments.length or just personal preference?

[2015-07-10 17:56] Vijar commented on #108
I really like [superagent](https://github.com/visionmedia/superagent)'s interface and everyone else who has used it seems to like it too.

I would like the API to be something like this:

[code]

This would be fairly easy to maintain backwards compatibility with. I can do a PR if you want. Thoughts?

[2015-07-10 18:02] gpbl commented on #108
Ah thanks @escalona I forgot `config` was optional.
@Vijar I tend to view `config` as `options` object to pass to `create`, i.e. i find better passing it as second arguments, but i guess it's just taste :-)

[2015-07-10 18:06] koulmomo commented on #108
@Vijar yes: https://github.com/petkaantonov/bluebird/wiki/Optimization-killers#3-managing-arguments  (though not if you implement it carefully) and personally it always looks gnarly.

[2015-07-10 18:13] Vijar commented on #108
@koulmomo That doc mentions reading `arguments.length` isn't a performance hit, but passing it around would be though.

[2015-07-10 18:22] Vijar commented on #108
@gpbl I can see your point. I think this comes down to one of two styles:

Option 1 (suggested by @escalona):
This is typical node style. Might be a little harder to maintain backwards compatibility
[code]
OR
Option 2 (superagent style):
[code]

I think it should be one or the other. We shouldn't mix and match.

[2015-07-10 18:23] redonkulus commented on #108
Option 2 :+1:

[2015-07-10 19:15] escalona commented on #108
I'm in favor of option 2 as well.

[2015-07-11 08:03] gpbl commented on #108
👌 great then, and thanks for the positive feedback!

[2015-07-14 16:15] benmonro opened #111 "promise support"
Just curious if there will be support for promises in the plugin and/or why they were left out?  Was this an intentional decision?  For example in reading from a service:

[code]

instead of

[code]

[2015-07-14 20:16] mridgway commented on #111
I think its reasonable to support promises now that Fluxible does. :+1:

[2015-07-16 14:54] KATT commented on #111
+1

[2015-07-16 16:18] Vijar commented on #111
We can easily support this after #110 is reviewed and merged.

[2015-07-21 19:50] Bazze commented on #97
@jeffkole: Have you done any progress on this? I'm in the same situation as you and really need to pass with validation errors to the client. However, I'm not sure if I agree with you that it's a good idea to respond to erroneous requests (i.e. requests containing data with invalid data) with a 200 status code. Did you continue with that approach?

[2015-07-25 19:50] jeffkole commented on #97
I did continue with that approach.  While not technically "correct," it works well with the current incarnation of Fetchr, and I'm pleased with it enough for the time being.

[2015-07-29 22:45] Vijar opened #112 "Remove deprecated methods"
- [ ] Remove `registerFetcher` and `getFetcher` methods
- [ ] Remove deprecated CRUD method signatures (i.e.. `.read(resource, params, config, callback)`).

[2015-08-05 12:31] KATT commented on #97
I'd also really want a way of returning more than just an error message to the client. Found this thread while digging into how I would return validation errors for a form, and yeah, it's not possible currently.

Has anyone done/started with a fork? Otherwise I could just go ahead.

The only difficult part of it is to make sure we serialise this in a safe way and don't leak the whole error object.

[2015-08-05 12:32] KATT commented on #97
Thoughts on the above? I can fork, do it and add tests if any of the authors gives me a :+1:

[2015-08-07 00:17] #108 closed

[2015-08-11 23:13] dlindenkreuz commented on #89
I cooked up some middleware that works with koa and fetchr v0.5.14. Use at your own risk.

https://gist.github.com/dlindenkreuz/9ae51ff36421ca13cad3

[2015-08-19 16:26] redonkulus commented on #97
#113 was merged and released. Closing this issue.

[2015-08-19 16:26] #97 closed

[2015-08-26 06:13] navy235 opened #117 "how can i set a timespan to xhrContext"
how can i set a timespan to xhrContext?

[2015-08-26 18:37] Vijar commented on #117
@navy235 are you talking about timeouts? https://github.com/yahoo/fetchr#xhr-timeouts

[2015-08-27 03:23] ahomu opened #119 "Numeric value is cast to the number when `parseParamValues` in middleware"
My problem is the numeric value is cast to the number would be.
It is occurring in GET request when the parsing by the middleware.

for example... http://example.com/fetchr/Example;id_str=9007199254740992000000

[code]

What a better solution?
thanks

[2015-08-27 07:18] navy235 commented on #117
@Vijar thanks for your response,I want add a random parameter on every api  url .
Later i find out it can use clientConfig.constructGetUri  to customize the api url.

[2015-08-27 07:18] #117 closed

[2015-08-28 17:50] Vijar commented on #119
@ahomu Yes, this is unfortunate.

I think what we have now with converting numeric values to numbers is a sensible default. If you really want to convert numbers to strings you can easily do that by:
[code]

However, this only solves part of your problem.

Fetchr middleware uses `JSON.parse` to cast numeric values to numbers but it introduces rounding errors as well as scientific notation for larg

[2015-08-31 08:41] ahomu commented on #119
Thank you! Look forward to the PR.

[2015-08-31 20:22] #119 closed

[2015-08-31 20:29] Vijar commented on #119
@ahomu The fix should be released now.

[2015-09-03 16:41] growlsworth commented on #7
This would be an excellent addition.

[2015-09-04 06:31] ahomu commented on #119
@Vijar Great! I will try it.

[2015-09-23 18:31] mridgway opened #123 "Uncaught TypeError: Cannot read property 'resource' of undefined"
https://github.com/yahoo/fetchr/blob/v0.5.17/libs/fetcher.client.js#L159-L184

The callback will not have the correct `this` context.

Related to https://github.com/yahoo/fluxible/issues/268.

[2015-09-23 22:31] Vijar commented on #123
This should be fixed in the new release of fetchr.

[2015-10-21 15:25] shoaibkalsekar opened #127 "Why is data property assumed on response result in fetchr.client.js?"
I am using fluxible and fluxible-plugin-fetchr for my app. I hit a roadblock when I saw the API server returning a response but `undefined` is passed all around. After a bit of debugging I found `results.data` https://github.com/yahoo/fetchr/blob/master/libs/fetcher.client.js#l144. I tried changing `results.data` to `results` and it worked fine. I couldn't find any explanation elsewhere so can som

[2015-10-21 21:16] Vijar commented on #127
@shoaibkalsekar are you using `fetchr` as your api server?

[2015-10-22 03:16] shoaibkalsekar commented on #127
@Vijar No. The api server is different.

[2015-10-25 01:21] Vijar commented on #127
@shoaibkalsekar thats the problem.

When we released the latest fetchr we made changes to the data format that fetchr uses to communicate between server and client. But since you're using your own api server, there is no way we can guarantee things will not break in our releases.

We do NOT recommend that you use the fetchr client with a different api server than fetchr's server counterpart. This

[2015-10-25 01:21] #127 closed

[2015-10-25 01:21] #123 closed

[2015-10-25 01:22] #111 closed

[2015-10-28 18:14] localnerve commented on #127
This hit me as well - In a use case you might (or might not) be interested in: Service Workers.

#### Background
I'm using fluxible-plugin-fetchr 0.3.8 by itself (on both server and client).

#### Use Case
I'm caching api responses in a service worker. Usually this works great.
However, the `result.data` special difference is exposed when you have to synthesize a response from other cached/stored

[2015-10-28 22:26] Vijar commented on #127
@localnerve

This is a hard problem to solve but when we released the new version, fetchr started sending a new query param `returnMeta` with each GET request. This is what fetchr server uses to switch between the response formats. My goal was that this new query param would bust typical http caching and force a new fetch from the origin, however it seems like your code is only using the resource

[2015-10-29 02:18] localnerve commented on #127
I appreciate the problem (and this great repo), I just wanted to share a use case that is impacted by this type of change, and highlight that non-standard response formatting like that can (and does in my case of 'offline Fluxible') cause implementation leakage.

If your goal was cache busting, why does it carry over to the response format? I don't understand why cache busting would impose non-sta

[2015-10-30 13:46] mypark opened #128 "can you provide an example with data services or routes requiring authentication or authorization?"
An example for say a logged in user's profile or "my account" settings would be useful, maybe with a bearer token strategy.  I would imagine you can check for a req.header in server/fetchers/flickr.js implementation, but how would you configure the client to send that token in the header on the client?  Should that be done in the client/app.js or in the shared getFlickerPhotos.js?  I suppose a sha

[2015-11-03 15:20] mypark opened #129 "Does fetchr support non-CRUD function names?"
I'd like to create some services that do things like "search" or "login" that doesn't necessarily fit strictly into a CRUD paradigm.

Does fetchr support naming functions that are not CRUD?

specifically in fluxible-fetchr-plugin can I do this:

`context.service.search('product', {text:keyword}, {}, callback);`

instead of this:

`context.service.read('product', {text:keyword}, {}, callback);`

Or

[2015-11-03 18:36] mridgway commented on #129
Fetchr does not currently support non-CRUD methods, but you can pass "sub-resources": `context.service.read('product.search', {text:keyword}, {}, callback);`. The sub-resource would then be passed to your `resource` parameter within your `produect` service:

[code]

[2015-11-04 23:38] mattpage commented on #127
This was a major pain to track down and the docs don't give any indication that the response needs to be { data: { ... } }. Would it be possible to document this in the README?

[2015-11-08 03:23] figalex commented on #129
Are you guys thinking about adding this feature in the future?

[2015-11-09 21:02] mridgway commented on #129
We don't have plans for this right now. The current CRUD operations directly map to RESTful methods, so adding more verbs may cause confusion.

[2015-11-09 21:37] #129 closed

[2015-11-09 23:40] Vijar commented on #128
@mypark this is a good idea. I'll look into adding a clear example inside flux-examples.

Meanwhile have you looked into something like `passport.js` which supports user authentication and session support. I believe it will populate `req.user` automatically from a cookie. There should be minimal work needed to protect the entire fetchr endpoint.

[2015-11-10 18:36] mypark commented on #128
yeah I was looking at passport.js, but was unsure how to adapt the express server side implmentation to flux and fluxible.  For example - should I just use the included login http post endpoints from passport and somehow wrap that into fetchr.. or use some sort of middleware?

[2015-11-10 19:05] koulmomo commented on #128
@mypark the common approach is to use a middleware. That way your `fetchr` services (that always run on the server) can just check `req.user` to see if it got populated in your data service methods.

so something like:
[code]

example fetchers can be found [here](https://github.com/yahoo/fetchr/blob/2060f317797836e40a9c84ccac7294eb8449d5dc/examples/simple/server/fetchers/flickr.js#L14) and [here](

[2015-11-10 19:56] mypark commented on #128
should I do something like this in the user fetchr module?

[code]

[2015-11-10 22:24] mypark commented on #128
Just tried the above example and it seems to have trouble with passport.authenticate - the function passport.authenticate('local', function(err, user, info) ... doesn't seem to be running correctly.  Is it because it's expecting a bunch of things in the closure from express?  The function seems to run fine if used like in the passport examples directly in an express route.

[2015-11-10 23:14] Vijar commented on #128
@mypark

I would NOT use fetchr for authenticating your users.You should use the endpoints provided by passportjs.

I'm not sure if this helps you but, here is a more detailed guide I wrote as I read the passportjs docs (I personally haven't used it yet):

1. Tell passportjs how to authenticate users (e.g. select `local` strategy)
    - Follow [Username & Password section](http://passportjs.org/do

[2015-11-10 23:20] mypark commented on #128
Yeah I have a more mixed case where some fetchr services are public and some are restricted... e.g. search vs myAccount.  I'm using fetchr with fluxible and trying to keep it isomorphic.  Using passportjs seems like it might be a bit more trouble than its worth since its so dependent on the request routing of express.  I'm thinking it would just be easier to set up my own authentication services i

[2015-11-10 23:43] Vijar commented on #128
@mypark you can go either way but it is probably a lot easier to use passportjs. Internally, we follow the same passportjs pattern where if a user is logged in `req.user` object is available, if not `req.user` is empty. We use cookies/session to know which user is logged in, also like passportjs.

Using middleware to authenticate is necessary imo.

If you still want to use fetchr for authenticatio

[2015-11-11 00:04] mypark commented on #128
Do you have an example or sample code somewhere implementing this with fluxible?  Maybe that'll make it more concrete in my mind.  If we were to use the passportjs login endpoints and just POST to them from a form, that would cause a page refresh right?  Would you also try to store currentlyLogged in user in a userStore as well?  Looks like dockunit example uses passport: https://github.com/dockun

[2015-11-11 00:09] koulmomo commented on #128
@mypark haven't vetted the solution personally, but I found this issue against fluxible https://github.com/yahoo/fluxible/issues/200

[2015-11-11 19:22] Vijar commented on #128
@mypark I would start with the dockunit approach.

Especially, see here: https://github.com/dockunit/platform/blob/ca7f2c953935481b35c6a249ffbeef1326c77498/services/github.js#L8-L13

Unfortunately, I don't have an example ready at the moment, but I do want to add it when I get some downtime.

[2015-12-02 00:54] #55 closed

[2015-12-02 05:38] BerkeleyTrue commented on #55
Hooray!

[2015-12-14 12:43] samkelleher commented on #111
In my testing, the actual service still receives a callback parameter as the last argument, even if you return a promise, without calling the callback, the request is never terminated.

For example, in my action, I can write:
[code]

But the service cannot have, I'm forced to use a callback again.:
[code]

So it looks like Promise support is only available where the service is called, but not wher

[2015-12-14 22:37] Vijar commented on #111
@samkelleher you're right, right now promise support is only for calling services.

[2016-01-21 14:49] localnerve opened #136 "Explicitly State Support"
I was just about to PR with the lodash 4 update, but then I realized you might be supporting IE8 with this.
Can you please explicitly state the intended support targets of the client and server side parts of this library? Maybe I missed it? Thanks.

[2016-01-22 00:17] Vijar commented on #136
@localnerve We don't really need to support IE8 with fetchr, we were planning to upgrade lodash but it will take us a while to upgrade all the packages internally...anyway, you can just create a PR and we can do a major bump so it doesn't break anyone expecting IE8 support.

/cc @mridgway @redonkulus

[2016-01-22 16:27] localnerve commented on #136
OK. Can we update the travis node matrix too? What's the up-to-date intent there?

[2016-01-22 17:48] localnerve opened #137 "lodash 4 upgrade discussion"
I just did an upgrade to lodash 4, however there is one incompatibility that bears discussion.
In lodash 4, pick is split into pick/pickBy where pickBy takes a predicate. However, the new predictate only receives a value*, where it used to receive (value, key, object).

This breaks contextPicker as-is.

##### Some Ideas
1. Pass the change* along
Just break the API, conform to the new lodash API, a

[2016-01-28 12:56] #137 closed

[2016-03-24 21:43] mwelche opened #139 "Is there a way to proxy /api/*"
I have the default setup:
[code]
and noticed that all of my POST's have the path `/api` in the request URL regardless of the service. The referral URL is correct but my server is expecting something like `api/login` from the request URL. Is it possible to proxy similar to https://github.com/erikras/react-redux-universal-hot-example#explanation where the path can be `api/*`?

[2016-03-25 19:35] Vijar commented on #139
@mwelche are you using your own api or are you using fetchr on the server?

[2016-04-08 22:20] gpbl opened #141 "Output in Error objects"
To handle errors I'm adding `output` to the Error object, and then pass it to the service's callback:

[code]

On the client I receive the output in the `body` property of the error. I was expecting an `output` property here:

[code]

On the server I receive instead the output in the `output` property:

[code]

Why this difference between `err.body` and `err.output`? Since I've to call the service

[2016-04-22 15:50] redonkulus commented on #141
Thanks for the bug, @Vijar please take a look when you get a chance.

[2016-05-04 22:39] praveenbnsm opened #142 "Return the request object from fetchr call"
Return the request object that has been created while making a fetchr call. Similar to the following

[code]

Incase if we have to abort the request, it can be easily done just by doing
[code]

Currently, there is no way of aborting the request that has been made using fetchr. A better use case will be when using fetchr for a component like auto-suggestion box, where-in we can abort the fetchr ser

[2016-05-05 20:58] #141 closed

[2016-05-05 21:27] Vijar commented on #142
@praveenbnsm I understand your problem but right now the `.end()` method actually returns a promise so that you can continue to chain promises. So the feature you ask for isn't trivial to implement.

For an autocomplete feature, it is probably too slow to create this many xhr calls only to abort them later, I would suggest [debouncing](https://lodash.com/docs#debounce) the event and calling fetchr

[2016-05-05 23:39] praveenbnsm commented on #142
@Vijar, I haven't tried debouncing. This can only help as a workaround to reduce the number of calls being made.

[2016-05-06 17:49] #142 closed

[2016-05-07 02:28] #139 closed

[2016-05-14 09:02] gpbl commented on #141
thanks!

[2016-06-24 18:46] activist opened #147 "Cors withCredentials not passed from config in http-client"
Is it by intent that withCredentials is not passed in option from the mergeConfig function in http.client? Seems that it is not passed along, or is it perhaps a way around it?

[2016-06-24 23:35] mridgway commented on #147
Hi @activist. Looks like we do not allow that option currently, but we should definitely add it. If you'd like to do a PR to allow this it should be relatively simple. I think we just need to add an `options.withCredentials` that gets passed in here: https://github.com/yahoo/fetchr/blob/master/libs/util/http.client.js#L172. The xhr library should then use this option (https://github.com/Raynos/xhr

[2016-06-29 11:44] activist commented on #147
Added pull request https://github.com/yahoo/fetchr/pull/149#issuecomment-229332312

Let me know if you have any questions.

[2016-06-29 22:24] mridgway commented on #147
Resolved in #149.

[2016-06-29 22:24] #147 closed

[2016-08-19 07:21] kouhin opened #151 "`1234e1234` is parsed to Infinity"
https://github.com/yahoo/fetchr/blob/master/libs/fetcher.js#L20

When the `1234e1234` was sent from client to server/middleware as param, it will be parsed to `Infinity`.

[2016-09-06 16:40] #151 closed

[2016-12-08 01:10] mdressman opened #164 "supporting synchronous xhr requests?"
The underlying xhr package used by fetcher.client.js supports configuring particular requests to be synchronous, however the fetchr api does not expose this option.

I have a unique use case where I need an xhr request to be sync (window.onbeforeunload) and I really don't want to construct my own XMLHttpRequest w/ sync: true calling our fetchrXhrPath.

Is there any interest in making this a config

[2016-12-08 05:02] redonkulus commented on #164
@mdressman makes sense. Feel free to open a PR. Would we want the same functionality for the server? In most cases no, but maybe there is a use case there too.

[2017-03-15 17:37] redonkulus commented on #136
fetchr is on lodash 4 now, this can be closed.

[2017-03-15 17:37] #136 closed

[2017-03-15 17:38] #128 closed

[2017-03-15 17:39] #33 closed

[2017-10-23 11:51] gilligan opened #180 "Provide more info on errors"
In our app we are currently experiencing some regular errors where we aren't certain about the origin. Sadly the stacktrace from fetchr isn't helping:

[code]

Looking at [fetchr.js:362`](https://github.com/yahoo/fetchr/blob/608b0591b49e048b4971d886030d6e5350482e05/libs/fetcher.js#L362):

[code]

So the `sanitizeResourceName(resource)` is what I think should definitely be displayed in the stacktra

[2017-10-23 21:53] lingyan commented on #180
This is a reasonable ask.  Do you mind putting up a PR for this?

[2017-10-23 21:54] gilligan commented on #180
@lingyan Sure, shall do- I will try to find time for it asap. Thank you for the fast feedback

[2020-05-19 13:44] dependabot-preview[bot] opened #191 "Dependabot couldn't reach registry.npm.vzbuilders.com:4443/npm-registry/api/npm/npm-registry as it timed out"
Dependabot couldn't reach registry.npm.vzbuilders.com:4443/npm-registry/api/npm/npm-registry as it timed out.

Is registry.npm.vzbuilders.com:4443/npm-registry/api/npm/npm-registry accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/yah

[2020-05-19 16:57] #191 closed

[2020-05-19 16:57] #89 closed

[2020-06-24 14:05] Saebyuckbaan opened #195 "setImmediate is not defined"
Hi,
I often get setImmediate is not defined error, which is from [fetcher.client.js](https://github.com/yahoo/fetchr/blob/master/libs/fetcher.client.js).
I realized that [setImmediate](https://developer.mozilla.org/en-US/docs/Web/API/Window/setImmediate) is not standard function that requires polyfill.
Can we replace it with setTimeout(fn, 0), which is the equivalent standard version, or [npm pack

[2020-06-24 17:13] redonkulus commented on #195
@Saebyuckbaan I think thats fair. We could leverage the npm package. Do you want to PR it?

[2020-10-21 16:50] pablopalacios commented on #51
@redonkulus I'll probably take this one as well.

[2020-10-21 16:54] redonkulus commented on #51
Sounds good, lets make it backwards compatible to avoid a breaking change.

[2020-11-02 18:48] davisyi commented on #195
Hi @redonkulus, I created a PR for requiring setImmediate polyfill for both fetchr-client and fetchr.

[2020-11-02 18:57] #195 closed

[2020-11-03 14:03] #51 closed

[2020-11-04 14:20] #180 closed

[2021-06-14 13:14] pablopalacios opened #250 "Polyfills question"
@redonkulus how do you feel about removing `es6-promise` and `object-assing` polyfills and let the users to polyfill them if necessary?

[2021-06-14 13:31] redonkulus commented on #250
I’m fine with it, but it would be considered a breaking change and need a major version upgrade.

[2021-06-16 20:46] matthoffner opened #251 "Fetchr 0.5.42 and IE11"
Heads up we are noticing some test failures with IE11 and the recently released fetchr (0.5.42)

Error:

`Expected identifier, string or number`

Understandable that IE11 is on its way out but I wanted to surface this in case anyone else sees something similar. Ideally any change that drops IE11 support would be major, but we can pin for the time being.

[2021-06-16 21:02] redonkulus commented on #251
Yup, we hit this internally too, we ended up just updating our babel/webpack config to transpile fetchr as well. We should have changed this in a major version.

@pablopalacios if you want to refactor your latest change to remove ES6 that would help users that haven't discovered the issue yet.

[2021-06-17 07:39] pablopalacios commented on #251
Oh, it was really not my intention to drop support for IE11 since we also support it here. I tried to be very careful about it but it looks like some thing slipped in. I'll check it soon ;)

[2021-06-17 16:14] redonkulus commented on #251
@matthoffner this is now fixed via https://github.com/yahoo/fetchr/pull/252, released in fetchr@0.5.43.

Thanks for the report!

[2021-06-17 16:14] #251 closed

[2021-06-17 18:22] pablopalacios commented on #250
All right, I'll think about it ;)

[2021-06-17 18:22] #250 closed

[2021-07-29 03:10] redonkulus opened #275 "Refactor fetchr API"
## Goal

Make the API more intuitive and easy to use for developers

## Background

Some of this work is based on the discussion in https://github.com/yahoo/fetchr/pull/263#issuecomment-881741395

## Proposals

### Simplify CRUD signatures

- Remove method chaining and just pass an options object with everything that is needed inside. It would be easy to mock and would make it clear which options

[2021-07-29 17:29] lingyan commented on #275
I like the proposal.  A couple questions:

- Can you clarify what goes into `data` should be specified, I assume it is post data.
- Original API's second argument (first `null`) is for resource params, and third argument (second `null`) is for request-specific configs.  Will they become fields in the second argument of the new API?

Would be good to add these details in the proposal.

[2021-07-29 18:23] redonkulus commented on #275
@lingyan

Yup, that was intended to be post body data. We could figure out what the correct property name should be (`data`, `body`, `postBody`, etc). `body` is used in the code and documentation today.

I think that makes sense, One potential option could be something like this (which basically removes the first param and puts it into the object):

[code]

NOTE: I don't like having `timeout` wher

[2021-07-29 18:46] redonkulus commented on #164
We are removing the xhr dependency so this will not be an option in the future.

[2021-07-29 18:46] #164 closed

[2021-07-29 18:47] redonkulus commented on #109
@pablopalacios potentially something we could add in 1.x

[2021-07-29 18:48] redonkulus commented on #7
Going to close this unless we really need it.

[2021-07-29 18:48] #7 closed

[2021-07-29 19:11] pablopalacios commented on #275
I like the idea of moving everything to just one object. In the future, the `resource` property could also accept an array of resources so we could trigger many requests in the server. This is something that would be trickier to do with the current API.

I see no problem, however, on keeping timeout and etc flattened in the same object. I actually prefer that since it would simplify the process of

[2021-07-29 20:02] pablopalacios commented on #109
@redonkulus isn't this already implemented? Since the link is targeting master, it's hard to see what @nathanwelch was facing.

But, if a operation in the server calls the callback with a `meta` object with headers, the response itself will have the headers and the response body will include the meta object with them as well. The client doesn't do anything with the `meta` object so them will be av

[2021-07-29 20:22] redonkulus commented on #275
I'm fine with this approach too, we could flatten it too and just have `params` stay the same and be for the resource parameters. @lingyan @snyamathi thoughts?

[2021-07-29 20:28] redonkulus commented on #109
It would be worth testing out to ensure it is supported.

[2021-07-29 21:02] pablopalacios commented on #275
By the way, these are all the options that we "support":

## Global options
[code]

[2021-07-29 21:05] redonkulus commented on #275
Mix of case style is disappointing, might make those all camelcase too.

[2021-07-29 21:24] pablopalacios commented on #275
My proposal:

[code]

[2021-07-30 14:04] redonkulus commented on #275
I like having xhrPath, coresPath and uri being combined, makes it simple without a ton of different options. One question is what if `xhrPath` and `corsPath` need to be different? Currently, `corsPath` is the [origin](https://nodejs.org/api/url.html#url_url_strings_and_url_objects) and `xhrPath` is just the path:

[code]

[2021-07-30 17:19] pablopalacios commented on #275
I would then rename it to `url` (this is the argument name in mdn for XMLHttpRequest.open).

Currently it's either one or another: https://github.com/yahoo/fetchr/blob/master/libs/fetcher.client.js#L236 and they are never concatenated. Since `XMLHttpRequest` supports CORS, we can pass a path or a full url and it will work.

[2021-08-06 22:03] pablopalacios opened #278 "Abort support, retry mechanism and promises"
@redonkulus

**Context:** currently calling fetchr.read() with a callback [will return](https://github.com/yahoo/fetchr/blob/master/libs/util/http.client.js#L174) a `XMLHttpRequest` instance that allows us to `abort` the request if needed:

[code]

When we use the Promise API, this is not currently possible since we are returning a native promise. This is expected and documented since we don't imp

[2021-08-13 15:20] redonkulus commented on #278
I would prefer to migrate to native `fetch`, removing `xhr` and then using `AbortController`, since its a standard API.

[2021-08-31 12:28] pablopalacios commented on #109
And here is a test: https://github.com/yahoo/fetchr/pull/283/files#diff-810ef617329ca8501025734bc7fca09f8fe45849f568b74204cd2553960615beR262-R279

So all headers set in the meta object will be available in the client side thought the meta object as well.

[2021-09-02 14:55] redonkulus commented on #109
Ok thanks for confirming!

[2021-09-02 14:55] #109 closed

[2021-09-02 18:46] lingyan commented on #109
Speaking of meta, @snyamathi has seen problems with [passing 3 arguments to a callback function](https://github.com/yahoo/fetchr/pull/283/files#diff-bf2bfe3c8ca334e32d83b2780e098d73a61459d60fcecc39386f4a088c38a5b1R11-R15), which is not very conventional, and causes quirks with response shapes like working with [async.auto](https://caolan.github.io/async/v3/docs.html#auto)

If we are bumping fetchr

[2021-09-29 16:04] redonkulus opened #298 "Consistent unit test timeout failures"
@pablopalacios I seem to be getting consistent functional test timeout failures when running locally:

[code]

When I run `npm test` I cannot reproduce it, but when I use `np` to publish a version, it runs a pre-commit hook that executes the tests and then fails with this error consistently. I'm not sure why test results would change from the execution paths above.

Can you reproduce this?

[2021-09-29 16:22] pablopalacios commented on #298
@redonkulus Hmmm, I don't know what `np` is and I don't have this hook here. But from the error message I would say that the pre-commit hook is using a different `node_modules` that does not include chromium. Thus, it can't setup the browser and the `before` mocha hook will fail. Does it make sense?

[2021-09-29 16:34] redonkulus commented on #298
I guess so, I can try wiping node_modules and see if that helps. I dont even have a pre-commit hook installed, it could be npm publish running `npm test` automatically before publishing.

np is just a utility that makes npm releases easier, it will run tests, generate github release notes etc.

[2021-09-29 16:35] pablopalacios commented on #298
If it's a path issue and it's a hassle on your side to figure it out, you can try setting `PUPPETEER_EXECUTABLE_PATH` env var to point to a chromium installation before running your commands.

If after that you still get a timeout, I would just assume that things just run slower during this hook execution. Said that, I would try to increase mocha timeout. Inside the `function setupServer`, just ca

[2021-09-29 16:36] redonkulus commented on #298
Ok sounds good, will take a look locally. Thanks!

[2021-09-29 16:37] pablopalacios commented on #298
Also, just make sure that you don't have `PUPPETEER_SKIP_CHROMIUM_DOWNLOAD` env var set. I have this on my `bashrc` and I always spend hours debugging why puppeteer is not working when I run functional tests locally.

[2021-09-29 16:48] redonkulus commented on #298
Thanks for the tips, increasing the timeout helped. I also removed the pre-commit package which wasn't necessary.

[2021-09-29 16:48] #298 closed

[2021-10-24 14:44] s-mostafa-d opened #309 "fetch api"
Hello guys, I am working on json lottie and I wrote a color editor for these files with JavaScript and now I want this editor on the site page to be connected to the lottie file with the API, and since the code for lottie files is very large, for example, Take the color key to changes the color I searched the internet a lot to find my problem and I realized it can be done with fetch functions I fo

[2021-10-27 20:54] #309 closed, assigned to nobody

[2021-11-09 14:08] pablopalacios commented on #278
#290 solved this issue.

[2021-11-09 14:08] #278 closed

[2021-12-28 21:06] redonkulus opened #344 "Convert to TypeScript"
@pablopalacios Looks like a good opportunity to enforce API options and publish a proper type definition.

[2022-01-22 00:16] pablopalacios commented on #275
Besides changing the request object, I think it would be very cool if we could let the users name the operations. We could use POST by default and add an useGET option to change to GET. In this way we could make fetchr super flexible:

[code]

Also, we could add a meta param to the register function with arbitrary data. This data could be used in a middleware (for example, a documentation route th

[2022-01-25 17:25] redonkulus commented on #275
I'm fine with the `meta` data for `registerResource`. I think the original reason for using the CRUD names was to have a clear API for how to use the fetcher resource. I'm not sure if I want to obfuscate that with user names. Within the code, the user can always organize the fetchr to use any number of methods, but having standard CRUD method names is good for self-documenting and usage.

[2022-04-08 09:31] pablopalacios commented on #275
@redonkulus Is this possible right now?